body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color:black;
}

main {
    flex: 1 0 auto;
}

/*Blog Post*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style:italic;
}


h1 {
    font-size: 24px;
    font-family: 'Shadows Into Light', cursive;
}

a{
    font-family: 'Shadows Into Light', cursive;
    color: white;
}
